name: Run Bandit on Python

on:
  workflow_dispatch:

jobs:
 sast_scan:
   name: Run Bandit Scan
   runs-on: ubuntu-latest

   steps:
   - name: Checkout code
     uses: actions/checkout@v4

   - name: Set up Python
     uses: actions/setup-python@v2
     with:
       python-version: 3.8

   - name: Install Bandit
     run: pip install bandit

   - name: Run Bandit Scan
     run: bandit -r .

   - name: Upload Artifact
     uses: actions/upload-artifact@v4
     if: always()
     with:
      name: bandit-findings
      path: bandit-report.json